<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Chart.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
</head>

<body>

    <div class="container" style="max-width: 2000px; width: 95%;">
        <h1>Crypto Price prediction</h1>
        <div class="form-group col-md-6">
            <select class="form-control" id="watching_coins" onchange="coinChange()">
            </select>
        </div>
        <div style="width: 100%">
            <canvas id="canvas"></canvas>
        </div>
        <script>
            var xLabels = ['January', 'February', 'March', 'April', 'May', 'June', 'July']
            var yPrice = [
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor()
            ]
            var yVolume = [
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor()
            ]
            var chartData = {
                labels: xLabels,
                datasets: [{
                    type: 'line',
                    label: 'Price (dallar)',
                    borderColor: window.chartColors.blue,
                    borderWidth: 2,
                    fill: false,
                    yAxisID: 'A',
                    data: yPrice
                }, {
                    type: 'bar',
                    label: 'Volume( milion dallar)',
                    backgroundColor: window.chartColors.green,
                    data: yVolume,
                    borderColor: 'white',
                    yAxisID: 'B',
                    borderWidth: 2
                }]

            };
            window.onload = function () {
                $.get("http://localhost:8085/watching-coin", function (data, status) {
                    var watchingCoins = JSON.parse(data)
                    for (var i = 0; i < watchingCoins.length; i++) {
                        $("#watching_coins").append(`<option value="` + watchingCoins[i].CoinID + `">` + watchingCoins[i].Name + `</option>"`);
                    }
                    updateChart(watchingCoins[0].CoinID)
                });

                var ctx = document.getElementById('canvas').getContext('2d');
                window.myMixedChart = new Chart(ctx, {
                    type: 'bar',
                    data: chartData,
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Chart.js Combo Bar Line Chart'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: true
                        },
                        scales: {
                            yAxes: [{
                                id: 'A',
                                type: 'linear',
                                position: 'left',
                            }, {
                                id: 'B',
                                type: 'linear',
                                position: 'right',
                                // ticks: {
                                //     max: 1,
                                //     min: 0
                                // }
                            }]
                        }
                    }
                });
            };

            document.getElementById('randomizeData').addEventListener('click', function () {
                chartData.datasets.forEach(function (dataset) {
                    dataset.data = dataset.data.map(function () {
                        return randomScalingFactor();
                    });
                });
                window.myMixedChart.update();
            });

            function updateChart(coinID) {
                $.get("http://localhost:8085/coin-price/" + coinID, function (data, status) {
                    var coinPrices = JSON.parse(data)
                    console.log("updateChart")
                    console.log(coinPrices)
                    xLabels = []
                    yPrice = []
                    yVolume = []
                    for (var i = 0; i < coinPrices.length; i++) {
                        xLabels.push(coinPrices[i].CreatedAt.slice(5, 16).replace("T", " "))
                        yPrice.push(coinPrices[i].Price)
                        yVolume.push(parseInt(coinPrices[i].Volume) / 1000000)
                    }
                    console.log(xLabels)
                    // console.log(yPrice)
                    // console.log(yVolume)
                    window.myMixedChart.data.labels = xLabels
                    chartData.datasets[0].data = yPrice
                    chartData.datasets[1].data = yVolume
                    window.myMixedChart.update();
                });
            }

            function coinChange() {
                var x = document.getElementById("watching_coins").value;
                updateChart(x)
            }
        </script>
    </div>

</body>

</html>