<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Chart.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
</head>

<body>

    <div class="container">
        <h1>Crypto Price prediction</h1>
        <div class="form-group col-md-6">
            <select class="form-control" id="watching_coins">
            </select>
        </div>
        <div style="width: 75%">
            <canvas id="canvas"></canvas>
        </div>
        <button id="randomizeData">Randomize Data</button>
        <script>
            var chartData = {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    type: 'line',
                    label: 'Dataset 1',
                    borderColor: window.chartColors.blue,
                    borderWidth: 2,
                    fill: false,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ]
                }, {
                    type: 'bar',
                    label: 'Dataset 2',
                    backgroundColor: window.chartColors.red,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ],
                    borderColor: 'white',
                    borderWidth: 2
                }, {
                    type: 'bar',
                    label: 'Dataset 3',
                    backgroundColor: window.chartColors.green,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ]
                }]

            };
            window.onload = function () {
                $.get("http://localhost:8085/watching-coin", function (data, status) {
                    var watchingCoins = JSON.parse(data)
                    for(var i=0; i< watchingCoins.length; i++) {
                        $("#watching_coins").append(`<option value="`+watchingCoins[i].CoinID+`">`+watchingCoins[i].Name+`</option>"`);
                    }
                });

                var ctx = document.getElementById('canvas').getContext('2d');
                window.myMixedChart = new Chart(ctx, {
                    type: 'bar',
                    data: chartData,
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Chart.js Combo Bar Line Chart'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: true
                        }
                    }
                });
            };

            document.getElementById('randomizeData').addEventListener('click', function () {
                chartData.datasets.forEach(function (dataset) {
                    dataset.data = dataset.data.map(function () {
                        return randomScalingFactor();
                    });
                });
                window.myMixedChart.update();
            });

            function updateChart(coinID) {
                $.get("http://localhost:8085/watching-coin", function (data, status) {
                    var watchingCoins = JSON.parse(data)
                    for(var i=0; i< watchingCoins.length; i++) {
                        $("#watching_coins").append(`<option value="`+watchingCoins[i].CoinID+`">`+watchingCoins[i].Name+`</option>"`);
                    }
                });
            }

        </script>
    </div>

</body>

</html>